doctype html
html
	head
		
		script(src='/js/socket.io.min.js',type='text/javascript')
		script(src='/js/jquery.min.js')
		script(src='/js/angular.min.js')
		link(href="/css/layout.css" , rel="stylesheet")
		title= title

body
	div.wrapper

		p 
			span.user david@nodejs:
			span.path ~/home/david$ 
			span.cmd Welcome to your first nodejs example




		script(src='/js/app.js')
	